/* .mainBox {
  width: 1200px;
  height: 700px;
  background-color: beige;
  margin: 0 auto;
}

.post-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  last-child {
    text-align: right;
    margin-right: 500px;
  }
} */

.mainBox {
  width: 100%; /* 변경: 화면 너비에 맞게 조정 */
  max-width: 1200px;
  height: 700px;
  background-color: beige;
  margin: 0 auto;
}

.post-item {
  display: flex;
  flex-direction: column; /* 변경: 세로 방향으로 정렬 */
  align-items: flex-start; /* 변경: 왼쪽 정렬 */
  margin-top: 10px;

  @media (min-width: 768px) { /* 화면 너비 768px 이상일 때 */
      flex-direction: row; /* 가로 방향으로 정렬 */
      justify-content: space-between;
      align-items: center;
  }

  .date {
      text-align: right;
      margin-right: 20px; /* 변경: 마진 크기 조정 */
  }
}